# Log files
*log*

# Editor directories and files
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.fleet
.idea

# Generated
dist
node_modules
yarn.lock

# Cache
*cache*
.DS_Store
Thumbs.db
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
